@model MVC_MainSite.Models.UsersModel

@{
    ViewBag.Title = "Inscription";
}

<h2>Inscription...</h2>

@using (Html.BeginForm("Subscribe",
                        "Home",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.Label("Nom d'usager") <br />
        @Html.TextBox("UserName", Model.UserName); <br />


        @Html.Label("Mot de passe")<br />
        @Html.TextBox("Password", Model.Password)<br />


        @Html.Label("Nom au complet")<br />
        @Html.TextBox("FullName", Model.FullName)<br />


        @Html.Label("Courriel")<br />
        @Html.TextBox("EMail", Model.EMail)<br />

        <br />

        <img id="new_img_avatar" src="~/@Model.GetAvatarURL()" class="bigAvatar" />

        <input type="file" name="FU_Avatar" id="FU_Avatar" style="display:none;" onchange="PreLoadImage();" />

        <input type="button" class="AvatarBrowseButton" id="uploadTrigger" onclick="document.getElementById('FU_Avatar').click();" value="Choisir..." />

        <br />
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Créer..." class="btn btn-default" />
            </div>
        </div>
    </div>
}
